.Slider {
  -webkit-appearance: none;
  width: 280px;
  background-color: black;
  opacity: 0.6;
  cursor: pointer;
  outline: 0;
  margin: 20px;
  height: 1px;
  border-radius: 10px;
}

.Slider:hover {
  opacity: 1;
}

/* .SliderWrapper:hover .Slider::-webkit-slider-thumb {
  background-color: black;
} */

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: black;
  border: 3px solid #eee;
  border-radius: 50%;
}

.Slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
}

.Slider.Vertical {
  transform: rotate(90deg);
  width: 200px;
}
